.budgetBuilder {
    display: flex;
}

.budgetBox {
    flex: 1;
    border: 1px solid black;
}

.expenseList {
    list-style: none;
}

.budgetHeader {
    display: flex;
    align-items: center;
}

.budgetList {
    display: flex;
    flex-wrap: wrap;
}