.authentication__header {
    color: white;
    text-align: center;
}

.authentication {
    width: 90%;
    max-width: 25rem;
    text-align: center;
}

.authentication form {
    margin-bottom: 1rem;
}

.form {
    width: 300px;
}

.buttonBar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}