.data {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.label {
    font-weight: bold;
}

.dropdown {
    width: 300px;
    margin: auto;
}

.dropdownAndCards {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.chart {
    max-width: 1200px;
    margin: auto;
}

.expenses {
    color: red;
}

.savings {
    color: rgb(0, 169, 0);
}

// @media (max-width: 768px) {
//     .chart {
//         width: 100%;
//         margin: auto;
//     }
// }