.goal,
.oldGoal {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.oldGoal {
    background: red;
}


.progress {
    display: flex;
    justify-content: space-between;

    .labels {
        display: flex;
        flex-direction: column;
        padding: 0 35px 0 35px;
    }

    .progressBar {
        flex: 1;
        align-self: center;
    }
}