.goals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    cursor: pointer;
}

.pageTitle {
    text-align: center;
}

@media (max-width: 768px) {
    .goals {
        justify-content: center;
    }
}