:root {
  // Box shadow
  --box-shadow: 6px 6px 10px 6px #757575;
  // Hover click values
  --border-transparent: 2px solid transparent;
  --border-hover-color: 2px solid #6e2db3;
  --background-hover-color: #cd9eff;
}