:root {
  // Box shadow
  --box-shadow: 6px 6px 10px 6px #757575;
  // Hover click values
  --border-transparent: 2px solid transparent;
  --border-hover-color: 2px solid #6e2db3;
  --background-hover-color: #cd9eff;
  // Disabled
  --border-disabled: 3px solid rgb(117, 117, 117);
  --disabled-background: rgb(227, 227, 227);
  --text-disabled: rgb(79, 79, 79);
}