.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expenseList {
    list-style: none;
}

.dropdownClass {
    width: 300px;
    margin: auto;
}